.navbar {
  background-color: #CF3D3C;
  padding-left: 32px;
  padding-right: 32px;
}
.navbar-container {
  height: 84px;
  color: aliceblue;
  display: flex;
  justify-content: space-between;

  align-items: center;
}
.drop-down {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.about-us{
    display: flex;
    flex-direction: row;
}
.about-us a:hover{
  color:#333;
  transition: color 0.3s ease;
}
.donate-btn{
  background-color: white;
  width: 120px;
  height: 32px;
  border-radius: 16px;
  border: 2px solid white;
  font-size: 16px;
  color:#CF3D3C;
  
}
.request-btn {
  background-color: #CF3D3C;
 width: 120px;
  height:32px;
  border-radius: 16px;
  border: 2px solid white;
  font-size: 16px;
  color: white;
}



.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-logo a {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.navbar-logo img{
  width: 112px;
  height:87px;
}

.drop-down {
  display: flex;
 
 gap: 65px;
}



.dropdown-item {
  position: relative; 
}

.dropdown-menu {
  position: absolute;
  top: 100%; 
  left: 0;
  background-color:#CF3D3C;
  border: 1px solid #CF3D3C;
  list-style: none;
  padding: 0.5rem 0;
  margin: 0;
  
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.dropdown-menu li {
  padding: 0.5rem 1rem;
}

.dropdown-menu li a {
  text-decoration: none;
  color:aliceblue;
  display: block; 
}



.btn-group {
  display: flex;
  gap: 1rem;
  width: auto;
  height: auto;
}
.stories {
  display: flex;
  flex-direction: row;
 
}
.stories :hover{
  color: #333;
  transition: color 0.3s ease;
}
.resource{
  display: flex;
  flex-direction: row;
  
 
}
.resource :hover{
  color: #333;
  transition: color 0.3s ease;
}
